#check package-lock file version

# !IMPORTANT! This workflow needs to be removed once all the consumers start using lockfile-check.yml.

name: lockfileVersion check

on:
  - workflow_call

jobs:
  version-check:
    runs-on:  ubuntu-latest
    outputs:
      output1: ${{ steps.getversion.outputs.version }}
    steps:
    - name: Checkout
      uses: actions/checkout@v4

    - name: Retrieve version
      id: getversion
      run: |
        echo "version=$(cat package-lock.json | grep '\"lockfileVersion\": 2,')" >> $GITHUB_OUTPUT

    - name: check value
      if: ${{ steps.getversion.outputs.version == null }}
      run: |
        echo "ERROR: Outdated package-lock file. Use NPM8 to install dependencies "
        exit 1
