name: Repo Health Checks

on:
  workflow_call:
    secrets:
      REPO_HEALTH_BOT_TOKEN:
        description: "Github token with read access to all repos and write access to the target repo"
        required: true
      REPO_HEALTH_BOT_EMAIL:
        description: "Email Address for the REPO HEALTH BOT (needed to commit changes in the repos)"
        required: true
      REPO_HEALTH_GOOGLE_CREDS_FILE:
        description: "Link to the repo health credentials file"
        required: true
      READTHEDOCS_API_KEY:
        description: "API Key for READ THE DOCS Access"
        required: true
      EMAIL_ADDRESS_FOR_ALERTS:
        description: "Email Address for the alerts"
        required: false
      SMTP_USERNAME:
        description: "SMTP Username for sending emails"
        required: false
      SMTP_PASSWORD:
        description: "SMTP Password for sending emails"
        required: false

    inputs:
      DASHBOARD_NAME:
        description: "Dashboard name to run the job for i.e. 'repo_health or dependencies_health . . .' "
        type: string
        default: "repo_health"
      ORG_NAMES:
        description: "Space separated list of organisation names to parse repos. i.e. 'openedx edx . . .' "
        type: string
        default: "edx openedx"
      EDX_REPO_HEALTH_BRANCH:
        description: "Branch of the edx-repo-health repo to check out"
        type: string
        default: "master"
      ONLY_CHECK_THIS_REPOSITORY:
        description: "If you only want to run repo health on one repository, set this to org/name of said repository."
        type: string
        default: ""
      REPORT_DATE:
        description: "The date for which repo health data is required.(format: YYYY-MM-DD)"
        type: string
        default: ""
      REPO_HEALTH_OWNERSHIP_SPREADSHEET_URL:
        description: "URL for the repo health spreadsheet to populate"
        type: string
        default: ""
      REPO_HEALTH_REPOS_WORKSHEET_ID:
        description: "Repo health repositories sheet ID"
        type: string
        default: "0"
      TARGET_REPO_TO_STORE_REPORTS:
        description: "Target repo to store the csv reports & results i.e. org/repo-name"
        type: string
        default: "edx/repo-health-data"
      REPOS_TO_IGNORE:
        description: "Space seperated list of repos to be ignored i.e. 'repo1 repo2 . . .' "
        type: string
        default: "clamps-ghsa-c4rq-qwgr-pj5h"
      ENABLE_EMAIL_ALERTS:
        description: "Set this to true to enable email alerts."
        type: boolean
        default: false
      ENABLE_EMAIL_ALERTS_ON_SUCCESS:
        description: "By default, email alerts are sent on failure. Set this to true to enable email alerts on success as well."
        type: boolean
        default: false

jobs:
  repo_health_check:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        python-version: ["3.11"]

    steps:
      - name: Checkout Repo
        uses: actions/checkout@v4

      - name: setup python
        uses: actions/setup-python@v5
        with:
          python-version: ${{ matrix.python-version }}

      - name: Clone edx-repo-health repo
        uses: actions/checkout@v4
        with:
          repository: openedx/edx-repo-health
          path: edx-repo-health
          ref: ${{ inputs.EDX_REPO_HEALTH_BRANCH }}

      - name: Install pip & pip-tools
        run: |
          python3 -m pip install -r edx-repo-health/requirements/pip.txt
          python3 -m pip install -r edx-repo-health/requirements/pip-tools.txt

      - name: Clone testeng-ci repo
        uses: actions/checkout@v4
        with:
          repository: openedx/testeng-ci
          path: testeng-ci
          ref: "master"

      - name: Clone repo-tools repo
        uses: actions/checkout@v4
        with:
          repository: openedx/repo-tools
          path: repo_tools
          ref: master

      - name: Clone repo-health-data repo
        uses: actions/checkout@v4
        with:
          repository: ${{ inputs.TARGET_REPO_TO_STORE_REPORTS }}
          path: repo-health-data
          ref: master
          token: ${{ secrets.REPO_HEALTH_BOT_TOKEN}}

      - name: Run repo health org script
        if: ${{ inputs.DASHBOARD_NAME == 'repo_health' }}
        env:
          ORG_NAMES: ${{ inputs.ORG_NAMES }}
          REPORT_DATE: ${{ inputs.REPORT_DATE }}
          GITHUB_TOKEN: ${{ secrets.REPO_HEALTH_BOT_TOKEN }}
          GITHUB_USER_EMAIL: ${{ secrets.REPO_HEALTH_BOT_EMAIL }}
          REPOS_TO_IGNORE: ${{ inputs.REPOS_TO_IGNORE }}
          EDX_REPO_HEALTH_BRANCH: ${{ inputs.EDX_REPO_HEALTH_BRANCH }}
          READTHEDOCS_API_KEY: ${{ secrets.READTHEDOCS_API_KEY }}
          ONLY_CHECK_THIS_REPOSITORY: ${{ inputs.ONLY_CHECK_THIS_REPOSITORY }}
          REPO_HEALTH_GOOGLE_CREDS_FILE: ${{ secrets.REPO_HEALTH_GOOGLE_CREDS_FILE }}
          REPO_HEALTH_REPOS_WORKSHEET_ID: ${{ inputs.REPO_HEALTH_REPOS_WORKSHEET_ID }}
          REPO_HEALTH_OWNERSHIP_SPREADSHEET_URL: ${{ inputs.REPO_HEALTH_OWNERSHIP_SPREADSHEET_URL }}
        run: |
          bash edx-repo-health/scripts/repo-health-script.sh

      - name: Run dependencies health dashboard script
        if: ${{ inputs.DASHBOARD_NAME == 'dependencies_health' }}
        env:
          REPORT_DATE: ${{ inputs.REPORT_DATE }}
          GITHUB_TOKEN: ${{ secrets.REPO_HEALTH_BOT_TOKEN }}
          GITHUB_USER_EMAIL: ${{ secrets.REPO_HEALTH_BOT_EMAIL }}
          EDX_REPO_HEALTH_BRANCH: ${{ inputs.EDX_REPO_HEALTH_BRANCH }}
          ONLY_CHECK_THIS_REPOSITORY: ${{ inputs.ONLY_CHECK_THIS_REPOSITORY }}
        run: |
          bash edx-repo-health/scripts/dependencies-health-script.sh

      - name: Run repo health artifact script
        if: ${{ inputs.DASHBOARD_NAME == 'repo_health' }}
        run: |
          bash edx-repo-health/scripts/repo-health-artifact.sh

      - name: Upload sqlite db as artifact
        if: ${{ inputs.DASHBOARD_NAME == 'repo_health' }}
        uses: actions/upload-artifact@v4
        with:
          name: sqlite db artifact
          path: dashboards/dashboard.sqlite3

      - name: Send email on failure
        uses: dawidd6/action-send-mail@v4
        if: ${{ failure() && inputs.ENABLE_EMAIL_ALERTS }}
        with:
          server_address: email-smtp.us-east-1.amazonaws.com
          server_port: 465
          username: ${{ secrets.SMTP_USERNAME }}
          password: ${{ secrets.SMTP_PASSWORD }}
          subject: ${{ github.workflow }} failed in ${{ github.repository }}
          to: ${{ secrets.EMAIL_ADDRESS_FOR_ALERTS }}
          from: github-actions <github-actions@edx.org>
          body: ${{ github.workflow }} in ${{ github.repository }} failed! For details, see https://github.com/${{ github.repository }}/actions/runs/${{ github.run_id }}

      - name: Send email on success
        uses: dawidd6/action-send-mail@v4
        if: ${{ success() && inputs.ENABLE_EMAIL_ALERTS && inputs.ENABLE_EMAIL_ALERTS_ON_SUCCESS }}
        with:
          server_address: email-smtp.us-east-1.amazonaws.com
          server_port: 465
          username: ${{ secrets.SMTP_USERNAME }}
          password: ${{ secrets.SMTP_PASSWORD }}
          subject: ${{ github.workflow }} succeeded in ${{ github.repository }}
          to: ${{ secrets.EMAIL_ADDRESS_FOR_ALERTS }}
          from: github-actions <github-actions@edx.org>
          body: ${{ github.workflow }} in ${{ github.repository }} succeeded! For details, see https://github.com/${{ github.repository }}/actions/runs/${{ github.run_id }}
