name: Update Browserslist DB
on:
  workflow_call:
    secrets:
      requirements_bot_github_token:
        required: true

jobs:
  update-dep:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout the repo
      uses: actions/checkout@v5

    - name: Install Node
      uses: actions/setup-node@v5
      with:
        node-version-file: '.nvmrc'

    - name: Install Dependencies
      run: npm ci

    - name: Update browserslist DB
      run: npx update-browserslist-db@latest

    - name: Create Pull Request
      id: cpr
      uses: peter-evans/create-pull-request@v7
      with:
          token: ${{ secrets.requirements_bot_github_token }}
          commit-message: 'chore: update browserslist DB'
          title: Update browserslist DB
          body: |
            Updated browserslist DB
          branch: update-browserslist-db

    - name: Auto-approve Pull Request
      if: steps.cpr.outputs.pull-request-operation == 'created'
      run: gh pr review --approve "${{ steps.cpr.outputs.pull-request-number }}"
      env:
        GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}

    - name: Enable Pull Request Automerge
      if: steps.cpr.outputs.pull-request-operation == 'created'
      run: gh pr merge --squash --auto "${{ steps.cpr.outputs.pull-request-number }}"
      env:
        GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
